<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear />
    <add key="NugetRemote" value="https://%ARTIFACTORY_DOMAIN%/artifactory/api/nuget/v3/%REPOSITORY_KEY%" protocolVersion="3" />
  </packageSources>

  <packageSourceCredentials>
    <NugetRemote>
      <add key="Username" value="%USERNAME%" />
      <add key="ClearTextPassword" value="%PASSWORD%" />
    </NugetRemote>
  </packageSourceCredentials>

</configuration>
